
@font-face {
    font-family: "LatoRegular";
    src: url("./fonts/lato-regular.ttf") format("TrueType");
    font-style: normal;
    font-weight: normal; }

.home{
    background-image: url("./data/imgs/home_bg1.png");
    /*height: 500px;*/
    width: 100%;
    opacity: .9;
    
    padding: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;    
    align-items: center;

}

.home h1{
    /*padding-top: calc(10px + (40 - 10)*((100vw - 320px)/(1600-320)));*/
    color:#46acff;
    font-weight: bold;
    font-size: calc(25px + (80 - 25)*((100vw - 320px)/(1600-320)));
}

.home p{
    margin-right: 50px;
    padding-left: 70%;
    color:black;
    font-size: calc(15px + (25 - 15)*((100vw - 320px)/(1600-320))); 
    font-weight: bold;
    text-align:right;
    width: 98%;
}

.homeInfo{
    margin-left: auto;
    margin-right: auto;
    background-image: url(./data/imgs/back.jpg);
    background-position: center;
    background-size: cover;
    /*height:calc(870px + (600 - 870)*((100vw - 320px)/(1600-320)));*/
    padding-bottom: 2%;
    display:flex;
    flex-direction: column;
    color: #262626;
}
.homeInfo h2{
    color:#262626;
    font-weight: bold;
    font-size: calc(25px + (80 - 25)*((100vw - 320px)/(1600-320)));
    margin:auto;
    margin-top: 0;
    margin-bottom:0;
}
.cardH{
    display:flex;
    flex-direction: row;
}
.cardH img{
    margin:auto;
}

@media (max-width: 1024px){
    .home p{
        color:rgb(197, 196, 196);
        margin:auto;
        
        padding-left: 0px;
    }
}
@media (max-width: 1024px) {
    .homeInfo{
        flex-direction: column;
        height: max-content;
    }
    .home p{
        color:rgb(197, 196, 196);
        margin:auto;
        
        padding-left: 0px;
    }
    .cardH{
        flex-direction: column;
    }
    .cardText{
        margin:auto;
        margin-top: 0; 
        margin-bottom: 50px;   
        justify-content: center;    
    }
    .cardText h1{
        text-align: center;
    }
    .cardText h2{
        text-align: center;
    }
    .shortInfoWrap{
        height: max-content;
        margin:auto;
    }
    .cardText a{
        justify-self: center;
    }
    .button-wrapper{
        display: flex;	
        justify-content: center;
        margin-top: 20px;	
      }
}
