.list{    
    background-image: url(./data/imgs/back.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    color: #262626;
}

.formSearch{
    display: flex;
    flex-direction: column;
    
    
}

.searchInp{
    width: 220px;
    margin: auto;
       
}

.formSearch h2{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.list_ph{    
  display: flex;
  flex-direction: column;
}

.list_ph ul{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}


@media only screen and (max-width: 1280px) {
    .formSearch h2{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
        
    }
    .list_ph ul {
        flex-direction: column;        
        margin: auto;
        padding-inline-start: 0px;        
        
    }
    .list_ph ul li{
        margin-top: 10px;
        width: 100%;
    }
    .list_ph ul li img{
        height: 100px;
        margin: auto;
    }
    .list{
        height: 860px;
    }

    .searchInp{
        width: 220px;
        margin: auto;     
         
    }

    .list_ph ul li .but{
        width: 100%;      
        
    }

    

}